.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.651);
    width: 100%;
    height: 100%;

}

.img {
    width: 10vw;
    height: 15vh;
    border-radius: 5px;
    margin-left: 4.2vw;
}

.btn {
    width: 15vw;
    height: 5vh;
    margin-top: 5vh;
    margin-right: 8.9vw;
    background-color: #324c36a8;
    color:  rgb(255, 217, 2);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.651);
    font-family: 'Verdana', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 2px 1px 2px 1px rgba(255, 255, 255, 0.651);
    background-color: rgb(255, 217, 2);
    color: #324c36a8;
}