.img{
    width: 12vw;
    height: 7vw;
}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 1vh;
    text-decoration: none;    
}

.text {
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    color: rgba(48, 30, 9, 0.616);
    margin-top: 0px
}

.none {
    text-decoration: none;
    color: rgba(48, 30, 9, 0.616);
}

.margin{
    margin-bottom: 0;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-size: 1.1rem;
    color: rgba(48, 30, 9, 0.616);
    
}
.todo{
    transition: tranform 0.3s;
}
.todo:hover {
    transform: scale(1);
}